<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='description' content='Homepage for Spotify OTD'>
        <link rel='icon' type='image/x-icon' href='\static\images\Spotify_Icon_CMYK_Green.png'>
        <link rel='stylesheet' type='text/css' href='..\..\static\css\style_home.css'>
        <title>On This Day</title>
    </head>
    <body>
        <header>
            {{ today }}
        </header>
        <div class='home_content'>
            <div>
                <h1>On This Day</h1>
            </div>
            <div>
                <a href={{ url }}>
                    <button>START</button>
                </a>
            </div>
        </div>
        <footer>
            Photo by <a href="https://unsplash.com/@benblenner?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ben Blennerhassett</a> on <a href="https://unsplash.com/photos/LR5eS1C9IUU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </footer>
    </body>
</html>