<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='description' content='Homepage for Spotify OTD'>
        <link rel='stylesheet' type="text/css" href='\static\css\style_no_songs.css'/>
        <link rel='icon' type='image/x-icon' href='\static\images\calendar_favicon.png'>
        <title>On This Day</title>
    </head>
    <body>
        <div class="Aligner">
          <div class="Aligner-item-1">No songs found</div>
          <div class="Aligner-item-2">Try again tomorrow!</div>
        </div>
    </body>
</html>